// Variables
@import "variables";

// Bootstrap
@import "~semantic-ui-css/semantic.min.css";

#logo-navbar {
	width: unset;
	height: 20px;
}

#layout_container {
	padding-top: 48px;
	padding-bottom: 50px;
}
